@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-gray-100 font-sans
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input{
    @apply w-full bg-white p-2.5 rounded 
}

label{
    @apply block mb-2
}
